body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

textarea{
    width: 400px;
    height: 200px;
}
input{
    width: 80px;
}
button{
    padding: 10px 20px;
    cursor: pointer;
}
table{
    margin-top: 20px;
    border-collapse: collapse;
}
td{
    padding: 10px;
    border: 1px solid black;
}
